:root {
  --blue-col: #0067E9;
  --white-col: #FEFEFE;
  --black-col: #473636;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
  background-color: #F0F1F3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
  all: unset;
}


.hero {
    width: 100%;
}

.container-new {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 1920px;
}

.content__space {
	display: flex;
	justify-content: space-between;

	padding: 0 4rem;
}

.form-element {
	width: 40%;
	height: auto;
	box-shadow: 0px 0px 3px var(--blue-col);

	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 3rem;

	padding-left: 1rem;
	padding-top: 1rem;

	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;

	background-color: #fff;

}

.form-title {
	color: var(--blue-col);

	font-size: clamp(.8rem, 5vw, 1.2rem);
	font-weight: bold;

	
	font-family: "Inter", sans-serif;
	
}

.textArea-element {
	color: var(--black-col);

	font-size: clamp(.6rem, 5vw, 1rem);
	font-weight: 400;

	padding: .5rem;
	
	font-family: "Inter", sans-serif;
	max-width: 90%;
	box-shadow: 0px 0px 3px var(--blue-col);

  
}


.form__btn-submit {
	background: var(--blue-col);

	width: 10rem;
	height: 4rem;

	border: none;

	border-radius: 20px;

	font-size: 1.2rem;
	font-weight: bold;
	color: #fff;
	margin-bottom: 2rem;
}

.form__elem {
    display: flex;
    flex-direction: column;

    gap: 2rem;

    width:  90%;
}


.select-menu {
	width: 90%;
    height: 3rem;

    display: flex;
    gap: 2rem;

    flex-direction: column;

	color: var(--black-col);

	font-size: clamp(.6rem, 5vw, 1rem);
	font-weight: 400;
	
	font-family: "Inter", sans-serif;

    font-weight: bold;

    border: 3px solid var(--blue-col);
    padding-left: rem;
}